<header class="header">
  <button class="header__btn-expand">
    <i
      nz-icon
      nzType="menu"
      nzTheme="outline"
      class="header__btn-expand__icon"
    ></i>
  </button>

  <button class="header__btn-search">
    <i
      nz-icon
      nzType="search"
      nzTheme="outline"
      class="header__btn-search__icon"
    ></i>
  </button>
</header>

<nav class="navigation-menu">
  <ul>
    <li>
      <button type="button">
        <i nz-icon nzType="close" nzTheme="outline"></i>
      </button>
    </li>
  </ul>
</nav>
